div.box {
	border: 0px solid #ffffff;
	height: 400px;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 11pt;
	line-height: 17pt;
	font-weight: normal;
}

div.method-panel {
	position: relative;
	float: left;
    padding: 163px 100px;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}
