<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Log In</title>
  </head>

  <body>
  </body>
</html>

{% extends "header_footer.htm" %}

{% block css-files %}
    <link type="text/css" rel="stylesheet" href="css/login.css">
{% endblock %}
{% block js-files %}
    <script type="text/javascript" language="javascript" src="js/login.js"></script>
{% endblock %}

{% block content %}
<div class="box">
    <script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US" type="text/javascript"></script>
    <script type="text/javascript">FB.init("{{ API_KEY }}", "xd_receiver.html");</script>
	<div class="method-panel">
		<fb:login-button v="2" onlogin='window.location="{{ ON_LOGIN_URL }}";' size="large">Connect with Facebook</fb:login-button>
	</div>
</div>
{% endblock %}
